<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_mvc.mybatisEx.model.IBookDAO">
    <resultMap id="bookResult" type="com.spring_mvc.mybatisEx.vo.BookVO">
        <result property="bookNo" column="bookNo"/>
        <result property="bookName" column="bookName"/>
        <result property="bookAuthor" column="bookAuthor"/>
        <result property="bookPrice" column="bookPrice"/>
        <result property="bookDate" column="bookDate"/>
        <result property="bookStock" column="bookStock"/>
        <result property="pubNo" column="pubNo"/>
    </resultMap>

    <!-- 도서 전체 조회 -->
    <select id="listAllBooks" resultType="com.spring_mvc.mybatisEx.vo.BookVO">
        SELECT * FROM book ORDER BY bookNo
    </select>

    <!-- 도서 등록 -->
    <insert id="insertBook" parameterType="com.spring_mvc.mybatisEx.vo.BookVO">
        INSERT INTO book(bookNo, bookName, bookAuthor, bookPrice, bookDate, bookStock, pubNo)
        VALUES(#{bookNo}, #{bookName}, #{bookAuthor}, #{bookPrice}, #{bookDate}, #{bookStock}, #{pubNo})
    </insert>

    <!-- 도서 정보 조회 -->
    <select id="detailViewBook" parameterType="string"
            resultType="com.spring_mvc.mybatisEx.vo.BookVO">
        SELECT * FROM book WHERE bookNo=#{bookNo}
    </select>

    <!-- 도서 정보 수정 -->
    <update id="updateBook" parameterType="com.spring_mvc.mybatisEx.vo.BookVO">
        UPDATE book SET bookName=#{bookName}, bookAuthor=#{bookAuthor}, bookPrice=#{bookPrice},
                        bookDate=#{bookDate}, bookStock=#{bookStock}, pubNo=#{pubNo}
        WHERE bookNo=#{bookNo}
    </update>

    <!-- 도서 삭제 -->
    <delete id="deleteBook" parameterType="string">
        DELETE FROM book WHERE bookNo=#{bookNo}
    </delete>
</mapper>